<div class="container-fluid countdown-banner">
    <div class="row width">
        <div class="col-12 banner-time">
            <span><div class="number-time">{{timeLeft.months}}</div> MESES </span>
            <span><div class="number-time">{{timeLeft.days}}</div> DIAS </span>
            <span><div class="number-time">{{timeLeft.hours}}</div> HORAS </span>
            <span><div class="number-time">{{timeLeft.minutes}}</div> MINUTOS </span>
        </div>
    <div class="row width">
        <div class="col-12 banner-time">
            <span>para el estreno de <div class="movie-title">{{movieReleased.title}} </div>
            </span>
        </div>
    </div>
    </div>
</div>


<!-- <button (click)="getTime()">CALCULAR TIEMPO</button> -->
