/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Marvel';
    src: url('./assets/fonts/Mouse_Memoirs/MouseMemoirs-Regular.ttf')
}
@font-face {
    font-family: 'Miriam Libre';
    src: url('./assets/fonts/Miriam_Libre/MiriamLibre-Regular.ttf');
}

@font-face {
    font-family: 'Teko';
    src: url('./assets/fonts/Teko/Teko-Regular.ttf');
}
