<div class="container-fluid">
    <div class="row display">
        <div *ngFor="let movie of movies" class="card col-3 m-4 p-4">
            <div class="card-img">
                <img src="../../../assets/images/{{movie.image}}.jpg" class="card-img-top" alt="...">
            </div>
            <!-- <div class="card-body"> -->
            <h5 class="card-title">{{movie.title}}</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a>
            </div> -->
        </div>
    </div>
</div>
